<div id="sidebar-wrapper" class="block sidebar">
    <%  prof = profile[0] %>
    <div class="profile-cont">
    <img class="profile-pic" src=" <%= prof.img.to_s %> " alt="Avatar">
    <p> <%=  prof.title   %> </p>
    </div>
    <div class="contact-links-cont">    
        <div class="contact-links-header">
        <% prof.sub_sections.each do | link | %>
            <%= link %> 
        <% end %>
        <p ><%= prof.desc %></p>
        </div>
        <ul id="navbar-items">
            <% profile[1..-1].each do | p | %>
                <li class="sidebar-brand">
                    <a href="#<%= p.title.downcase %>-cont"><%= p.title %></a>
                </li>
            <% end %>
        </ul>
    </div> 
    </br>
</div>